{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Registro</title>
	<script src="https://kit.fontawesome.com/fb4d809d7a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/montserrat-font.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{% static 'css/signup.css' %}"/>
	<style>
        .bg-distant-horizon {
            background: #F1F6F9 !important;
        }

        .bg-midnight-express {
            background: #212A3E !important;
        }

        .text-annapolis-blue {
            color: #394867 !important;
        }

        .text-distant-horizon {
            color: #F1F6F9 !important;
        }

        .text-midnight-express {
            color: #212A3E !important;
        }

        .rounded-10 {
            border-radius: 10px !important;
        }

        .dropdown-item:hover {
            background: #212A3E !important;
        }

        .zoom-out {
            transition: transform 0.2s;
            transform: scale(1.0);
        }

        .zoom-in:hover {
            transform: scale(1.1);
        }

        /* body nav.navbar div.container {
            transition: padding 0.2s;
        } */
    </style>
</head>
<body class="form-v10 bg-midnight-express text-distant-horizon">
	<nav class="navbar navbar-expand-lg py-4 sticky-top bg-midnight-express text-distant-horizon">
        <div class="container" id="navbar">
            <a class="navbar-brand" href="/">
                <img src="{% static 'assets/img/CivilPro_Logo_W.png' %}" alt="CivilPro" style="height: 80px;">
            </a>
            </div>
        </div>
    </nav>
	<div class="page-content" style="top: 128px; min-height: calc(100vh - 275px);">
		<div class="form-v10-content">
			<form class="form-detail" method="post" id="myform">
				{% csrf_token %}
				<div class="form-left">
					<h2>Registro de Usuario</h2>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" name="first_name" id="first_name" class="input-text" placeholder="Nombre" value="{{ data.first_name }}" required>
						</div>
						<div class="form-row form-row-2">
							<input type="text" name="last_name" id="last_name" class="input-text" placeholder="Apellido" value="{{ data.last_name }}" required>
						</div>
					</div>
					<div class="form-row scroll-container">
						<p class="text-midnight-express">Seleccione sus especializaciones:</p>
						{% for titulo in titulos_disponibles %}
							<div class="form-checkbox">
								<label class="container">
									<p>{{ titulo.nombre }}</p>
									<input type="checkbox" name="titles[]" value="{{ titulo.nombre }}">
									<span class="checkmark"></span>
								</label>
							</div>
						{% endfor %}
					</div>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="password" name="password" id="password" class="password" placeholder="Contraseña" value="{{ data.password }}" required>
						</div>
						<div class="form-row form-row-2">
							<input type="password" name="repassword" id="repassword" class="repassword" placeholder="Repetir Contraseña" value="{{ data.repassword }}" required>
						</div>
					</div>
				</div>
				<div class="form-right">
					<h2></h2>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" name="code" class="code" id="code" placeholder="+" value="{{ data.code }}" required>
						</div>
						<div class="form-row form-row-2">
							<input type="text" name="phone" class="phone" id="phone" placeholder="Número de Teléfono" value="{{ data.phone }}" required>
						</div>
					</div>
					<div class="form-row">
						<input type="text" name="your_email" id="your_email" class="input-text" value="{{ data.your_email }}" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" placeholder="Correo Electronico">
					</div>
					<div class="form-row">
						<input type="text" name="doc_id" class="doc_id" id="doc_id" placeholder="Número de Documento" value="{{ data.doc_id }}" required>
					</div>
					
					<div class="form-row-last">
						<input type="submit" name="register" class="register" value="Registrar">
					</div>
					<h2></h2>
				</div>
			</form>
		</div>
	</div>
	<div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="text-muted">2024 CivilPro&trade;</span>
            </div>

            <a href="/">
                <img src="{% static 'assets/img/CivilPro_Logo_W.png' %}" alt="CivilPro" style="height: 50px;">
            </a>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-muted" href="mailto:contact@civilpro.org">contact@civilpro.org</a>
                </li>
                <li class="ms-3"><a class="text-muted" href="mailto:contact@civilpro.org"><i
                            class="fa-regular fa-envelope"></i></a></li>
            </ul>
        </footer>
    </div>
	<script>
		var errorMessage = "{{ error }}";
		if (errorMessage) {
			alert(errorMessage);
		}
	
		document.getElementById("myform").addEventListener("submit", function(event) {
			var checkboxes = document.querySelectorAll('input[type="checkbox"]');
			var alMenosUnoSeleccionado = false;
			
			checkboxes.forEach(function(checkbox) {
				if (checkbox.checked) {
					alMenosUnoSeleccionado = true;
				}
			});
			if (!alMenosUnoSeleccionado) {
				alert('Por favor, seleccione al menos un título.');
				event.preventDefault(); // Evitar el envío del formulario solo si no se han seleccionado títulos
			}
		});
	</script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>