{% extends 'base.html' %}

{% block content %}

<div class="container p-5 bg-annapolis-blue rounded-10" style="min-height: calc(100vh - 275px);">
    <!-- Button trigger modal -->
    <div class="text-center">
        {% for proyecto in proyectos %}
        <a class="m-1" href="#" data-bs-toggle="modal" data-bs-target="#item_{{ proyecto.id }}"
            style="color: inherit; text-decoration: inherit; display: inline-block;">
            <div class="card text-center bg-midnight-express rounded-10 zoom-in zoom-out" style="width: 18rem;">
                <div style="width: 100%; height: 180px;">
                    <img src="https://th.bing.com/th/id/OIP.p3asnh-5bcoAzkwRnvXUgwHaEK?rs=1&pid=ImgDetMain" class="card-img-top"
                        alt="yugiweed" style="height: 180px; object-fit: cover;">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-uppercase">{{ proyecto.nombre }}</h5>
                    <p class="card-text">{{ proyecto.descripcion }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <!-- Modal -->
    {% for proyecto in proyectos %}
    <div class="modal fade" id="item_{{ proyecto.id }}" tabindex="-1" aria-labelledby="projectModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl modal-fullscreen-lg-down">
            <div class="modal-content bg-annapolis-blue rounded-10">
                <div class="modal-header">
                    <h2 class="modal-title text-capitalize" id="projectModalLabel">{{ proyecto.nombre }}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="width: 100%; height: 240px;">
                        <img class="d-block mx-auto rounded-10"
                            src="https://th.bing.com/th/id/OIP.p3asnh-5bcoAzkwRnvXUgwHaEK?rs=1&pid=ImgDetMain" alt="construcción"
                            style="height: 100%; width: 450px; max-width: 100%;  object-fit: cover;">
                    </div>

                    <div class="container mt-3">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="bg-midnight-express rounded-5 text-center mb-3"
                                    style="width: 80%; height: 400px;">
                                    Tareas
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="row">
                                    <div class="d-flex justify-content-between bg-midnight-express rounded-10">
                                        <h3 class="fw-bolder fs-4 lh-base">Información del proyecto</h3>
                                        <button type="button" class="btn">
                                            <i
                                                class="fa-solid fa-pen-to-square text-distant-horizon zoom-in zoom-out"></i>
                                        </button>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon"><span
                                                class="fw-bold">Constructora: </span>{{ proyecto.constructora.nombre }}
                                        </li>
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon"><span
                                                class="fw-bold">Fecha de inicio: </span>{{ proyecto.fecha_inicio }}</li>
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon"><span
                                                class="fw-bold">Fecha de finalización: </span>{{ proyecto.fecha_final }}
                                        </li>
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon"><span
                                                class="fw-bold">Presupuesto: </span>{{ proyecto.presupuesto }}</li>
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon"><span
                                                class="fw-bold">Estado: </span>{{ proyecto.estado }}</li>
                                    </ul>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="d-flex justify-content-between bg-midnight-express rounded-10">
                                        <h3 class="fw-bolder fs-4 lh-base">Personal</h3>
                                        <button type="button" class="btn text-distant-horizon zoom-in zoom-out"
                                            data-bs-target="#busqueda-usuario_{{ proyecto.id }}" data-bs-dismiss="modal" data-bs-toggle="modal">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                    <ul>
                                        {% for usuario in usuarios %}
                                        {% if proyecto == usuario.id_proyecto %}
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon">
                                            <div class="fw-bold">{{ usuario.id_usuario.first_name }}</div>
                                            Ingeniero Civil
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    {% for proyecto in proyectos %}
    <div class="modal fade" id="agregar-usuario-modal-{{ proyecto.id }}" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" style="max-height: 250px;">
            <div class="modal-content bg-annapolis-blue rounded-10">
                <div class="modal-header">
                    <h2 class="modal-title text-capitalize" id="profileModalLabel">Perfil de Usuario</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center rounded-circle">
                        <img class="m-3" src="https://avatar.iran.liara.run/public/36" alt="Perfil" style="height: 120px;">
                    </div>
                    <div class="text-center">
                        <div class="fw-bold" id="sel-user-name-{{ proyecto.id }}"></div>
                        <div id="sel-user-doc-{{ proyecto.id }}"></div>
                        <div id="sel-user-mail-{{ proyecto.id }}"></div>
                        <div class="d-flex justify-content-center">
                            <select class="form-select text-center" style="max-width: 60%;">
                                <option>Seleccionar Rol</option>
                                <option value="1">Constructor</option>
                                <option value="2">Mario</option>
                                <option value="3">Yugiweed</option>
                                <option value="4">Audi</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#busqueda-usuario_{{ proyecto.id }}">Atrás</button>
                    <button type="button" class="btn bg-midnight-express text-distant-horizon" data-bs-dismiss="modal"
                        data-bs-toggle="modal" data-bs-target="#item_{{ proyecto.id }}"
                        onclick="addUserToProject('{{ proyecto.id }}')">Agregar</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    {% for proyecto in proyectos %}
    <div class="modal fade" id="busqueda-usuario_{{ proyecto.id }}" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content bg-annapolis-blue rounded-10">
                <div class="modal-body">
                    <input type="email" name="busqueda" data-project-id="{{ proyecto.id }}" class="form-control text-distant-horizon" autocomplete="off"
                        placeholder="Correo del empleado a agregar.">
                    <ul class="list-group" id="user-data-{{ proyecto.id }}" style="display: none;">
                        <a href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#agregar-usuario-modal-{{ proyecto.id }}" onclick="getUserSel('{{ proyecto.id }}')">
                            <li class="list-group-item border-0 bg-transparent text-distant-horizon">
                                <div class="row">
                                    <div class="col-4">
                                        <img class="m-3" src="https://avatar.iran.liara.run/public/36" alt="Perfil"
                                            style="height: 64px;">
                                    </div>
                                    <div class="col-8 d-flex align-items-center">
                                        <div>
                                            <div class="fw-bold" id="user-name-{{ proyecto.id }}"></div>
                                            <div id="user-mail-{{ proyecto.id }}"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <a class="btn d-flex justify-content-center align-items-center bg-light rounded-circle text-midnight-express zoom-in zoom-out"
        href="/nuevo-proyecto" style="height: 64px; width: 64px; position: fixed; right: 64px; bottom: 64px;">
        <i class="fa-solid fa-plus"></i>
    </a>
</div>

<script>
    document.querySelectorAll('input[name="busqueda"]').forEach(input => {
        input.addEventListener('input', function () {
            const searchInput = input.value;
            const projectId = input.dataset.projectId; // Assuming you set a data attribute for project ID
            fetch(`/buscar-usuario/?query=${searchInput}`)
                .then(response => response.json())
                .then(data => {
                    console.log(`${searchInput}`);
                    const userDataDiv = document.getElementById(`user-data-${projectId}`);
                    if (data.length > 0) {
                        // Assuming data is an array of users
                        const userData = data[0]; // You may need to adjust this based on your response structure
                        document.getElementById(`user-name-${projectId}`).textContent = userData.firstname;
                        document.getElementById(`user-mail-${projectId}`).textContent = userData.email;
                        userDataDiv.style.display = 'block';
                    } else {
                        userDataDiv.style.display = 'none';
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    });
    
    function getUserSel(projectId) {
        const modal = document.querySelector(`#busqueda-usuario_${projectId}`);
        const input = modal.querySelector('input[name="busqueda"]');
        const userMail = input.value;

        fetch(`/buscar-usuario/?query=${userMail}`)
            .then(response => response.json())
            .then(data => {
                if (data.length > 0) {
                    const userData = data[0]; // Assuming only one user is returned
                    document.getElementById(`sel-user-name-${projectId}`).textContent = userData.firstname + ' ' + userData.lastname;
                    document.getElementById(`sel-user-doc-${projectId}`).textContent = userData.doc;
                    document.getElementById(`sel-user-mail-${projectId}`).textContent = userData.email;
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function addUserToProject(projectId) {
        const userEmail = document.getElementById(`sel-user-mail-${projectId}`).textContent; // Retrieve email from the selected user
        fetch(`/agregar-usuario/?projectId=${projectId}&userEmail=${userEmail}`)
            .then(response => {
                // Handle response if needed
                // Maybe close modal or show a message
            })
            .catch(error => console.error('Error:', error));
    }
</script>

{% endblock %}