{% extends 'base.html' %}

{% block content %}

<div class="container p-5 bg-annapolis-blue rounded-10" style="min-width: 80vw; min-height: 83vh;">
    <!-- Button trigger modal -->
    <a href="#" data-bs-toggle="modal" data-bs-target="#projectModal"
        style="color: inherit; text-decoration: inherit; display: inline-block;">
        <div class="card text-center bg-midnight-express rounded-10 zoom-in zoom-out" style="width: 18rem;">
            <div style="width: 100%; height: 180px;">
                <img src="https://img.4plebs.org/boards/pol/image/1685/15/1685159872624558.jpg" class="card-img-top"
                    alt="yugiweed" style="height: 180px; object-fit: cover;">
            </div>
            <div class="card-body">
                <h5 class="card-title text-uppercase">yugiweed</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
            </div>
        </div>
    </a>
    <!-- Modal -->
    <div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl modal-fullscreen-lg-down">
            <div class="modal-content bg-annapolis-blue rounded-10">
                <div class="modal-header">
                    <h2 class="modal-title text-capitalize" id="projectModalLabel">Modal title</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="width: 100%; height: 240px;">
                        <img class="d-block mx-auto rounded-10"
                            src="https://img.4plebs.org/boards/pol/image/1685/15/1685159872624558.jpg" alt="yugiweed"
                            style="height: 100%; width: 450px; max-width: 100%;  object-fit: cover;">
                    </div>

                    <div class="container mt-3">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="bg-midnight-express rounded-5 text-center mb-3"
                                    style="width: 80%; height: 400px;">
                                    Tareas
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="row">
                                    <h2 class="bg-midnight-express rounded-10 fw-bolder fs-4 lh-base">Información del
                                        proyecto</h2>
                                    <ul class="list-group">
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon"><span
                                                class="fw-bold">Constructora: </span>Frisby</li>
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon"><span
                                                class="fw-bold">Fecha de inicio: </span>hoy</li>
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon"><span
                                                class="fw-bold">Decha de finalización: </span>mañana</li>
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon"><span
                                                class="fw-bold">Presupuesto: </span>gratis</li>
                                    </ul>
                                </div>
                                <hr>
                                <div class="row">
                                    <h2 class="bg-midnight-express rounded-10 fw-bolder fs-4 lh-base">Personal</h2>
                                    <ul class="list-group overflow-auto" style="max-height: 200px;">
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon">
                                            <div class="fw-bold">Usuario</div>
                                            Ingeniero Civil
                                        </li>
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon">
                                            <div class="fw-bold">Usuario2</div>
                                            Ingeniero en venta de quipitos.
                                        </li>
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon">
                                            <div class="fw-bold">Usuario</div>
                                            Ingeniero Civil
                                        </li>
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon">
                                            <div class="fw-bold">Usuario2</div>
                                            Ingeniero en venta de quipitos.
                                        </li>
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon">
                                            <div class="fw-bold">Usuario</div>
                                            Ingeniero Civil
                                        </li>
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon">
                                            <div class="fw-bold">Usuario2</div>
                                            Ingeniero en venta de quipitos.
                                        </li>
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon">
                                            <div class="fw-bold">Usuario</div>
                                            Ingeniero Civil
                                        </li>
                                        <li class="list-group-item border-0 bg-transparent text-distant-horizon">
                                            <div class="fw-bold">Usuario2</div>
                                            Ingeniero en venta de quipitos.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}